body {
	/*display: grid;*/
	/*grid-template-rows: auto 1fr auto auto auto auto;*/
	box-sizing: border-box;
}

img {
	max-width: 1000px;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 15px;
	font-weight: bold;
}

p {
	font-size: 20px;
	line-height: 1.6;
}

.button {
	background: rgb(86, 123, 149);
	border: 1px solid rgb(50, 104, 145);
	color: white;
	border-radius: 5px;
	padding: 10px;
	font-size: 10px;
	font-weight: bold;
}

/* Top header */
header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	justify-items: center;
	align-items: center;
	padding: 5px 15px 5px 15px;
	border-bottom: 1px solid #c5c5c5;
}

.NYT {
	/* Change font to old english */
}

.search-buttons {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
	margin-left: 20px;
	/*margin-top: 15px;*/
	align-items: center;
}

.fas {
	font-size: 15px;
	color: #333;
}

.search-buttons a {
	color: #030303;
	text-decoration: none;
}

/* main article */
article {
	display: grid;
	grid-template-columns: 3fr 4fr 4fr 3fr;
	grid-gap: 10px 10px;
	justify-items: center;
	max-width: 1000px;
	margin: 50px auto;
}

article > * {
	grid-column: 2 / -2;
	width: 100%;
}

article figure {
	margin: 0;
	grid-column: 1 / -1;
}

/* hero image */
.title-image figcaption {
	padding-right: 100px;
}

.author {
	justify-self: start;
	padding-top: 30px;
}

figcaption {
	color: #666;
}

.credit {
	color: #888;
	font-size: 12px;
}

/* Article title and details */
article .article-title {
	padding-bottom: 20px;
	font-style: italic;
	font-weight: bold;
	display: block;
	max-width: 550px;
}

.article-details {
	grid-column: 2 / span 2;
	display: grid;
	width: 100%;
	grid-template-columns: 1fr repeat(6, auto);
	align-items: center;
	grid-gap: 5px;
	padding: 30px 0 20px 0;
}

.author a {
	text-decoration: none;
	color: black;
}

.author a:hover {
	text-decoration: underline;
}

.fab,
.fas,
.far {
	color: #000;
	background: #eee;
	padding: 8px;
	justify-self: end;
	border-radius: 20px;
}

/* Main article paragraphs */
.article-links {
	color: #326891;
}

strong {
	font-weight: bold;
}

img,
.inflation {
	grid-column: 1 / -1;
	position: relative;
}

.inflation,
.inflation-details {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.inflation-details {
	grid-column: 1 / -1;
	position: absolute;
	overflow: hidden;
}

.inflation-details p {
	font-size: 13px;
	padding: 160px 10px 0 0;
}

.inflation .bottom {
	padding-top: 180px;
}

.inflation figcaption {
	padding-top: 80px;
	position: relative;
}

.inflation figcaption:before {
	background: #000;
	display: block;
	content: "";
	height: 1px;
	width: 80px;
	position: absolute;
	/*left: 3px;*/
	top: 60px;
}

/* embeded youtube video */
.video figcaption {
	margin-top: 10px;
}

.video {
	margin-bottom: 30px;
}

/* mid-article smaller image */
.small-image {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	margin-bottom: 30px;
}

.small-image img {
	width: 100%;
	grid-column: 2 / -2;
}

.small-image figcaption {
	grid-column: 2 / -2;
}

/* Article footer, comments, social media */
.article-footer p {
	font-size: 10px;
}

/* Suggested articles section */
.suggested-articles {
	display: grid;
	grid-template-columns: 1fr 6fr 2fr 1fr;
	grid-gap: 30px;
}

.suggested-articles section {
	border-top: solid 1px black;
	padding-top: 15px;
}

.suggested {
	grid-column: 2 / -3;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.suggested-articles .article-group {
	grid-column: 1 / -1;
	color: #141414;
}

.article-group a {
	font-size: 20px;
	font-weight: bold;
}

.article-group a,
.suggested-title a {
	color: #141414;
	text-decoration: none;
}

.article-group a:hover {
	text-decoration: underline;
}

.suggested-title a:hover {
	color: #9f9f9f;
}

.article-feature img {
	max-width: 100%;
}

.article-feature figcaption,
.article-feature time {
	font-size: 12px;
	color: #9f9f9f;
	padding-bottom: 10px;
}

.article-feature figcaption {
	padding-bottom: 10px;
}

/* Most Popular */
.most-popular {
	grid-row: span 2;
}

.most-popular ul {
	margin-top: 20px;
}

.article-feature time {
	display: block;
	padding-top: 10px;
}

.article-link {
	border-top: solid 1px #9f9f9f;
	padding: 20px 0 20px 0;
}

.article-link a {
	text-decoration: none;
	color: #131313;
}

.article-link a:hover {
	color: #9f9f9f;
}

/* Main Nav section */
.main-nav {
	border-top: 1px solid #909090;
	box-shadow: 1px 0 0 0 black;
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr repeat(6, 2fr) 1fr;
	align-items: start;
}

/* all links in the nav */
.main-nav a {
	text-decoration: none;
	color: #000;
}

.main-nav a:hover {
	text-decoration: underline;
}

.main-nav h2 {
	grid-column: 2 / -3;
	margin-bottom: 30px;
	padding-top: 10px;
}

/* go to homepage link */
.main-nav > a {
	grid-column: span 2;
	align-self: end;
	margin-bottom: 30px;
	font-size: 12px;
	color: #9f9f9f;
}

/* re-position all the sections */
.main-nav .news {
	grid-column: 2;
}

.section-title {
	font-weight: bold;
	margin-bottom: 10px;
}

.main-nav li {
	margin-bottom: 5px;
}

.more {
	border-right: solid 1px #9f9f9f;
	padding-right: 20px;
	margin-right: 10px;
}

.subscribe .subsection {
	border-top: solid 1px #9f9f9f;
	padding-top: 15px;
	margin-top: 15px;
}

/* Footer section */
.bottom-bar {
	display: flex;
	border-top: solid 1px #9f9f9f;
	padding-top: 10px;
	padding-bottom: 30px;
	justify-content: space-around;
	margin: 5px 10% 0 10%;
}

.bottom-bar a {
	font-size: 12px;
	color: #878787;
	text-decoration: none;
}

.bottom-bar a:hover {
	text-decoration: underline;
}
